
/* Pagespecific */

.center a {
    text-decoration: none;
}

#login_username {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 5px 6px 20px;
    margin-bottom: 10px;
    width: 200px;
}

#login_password {
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 5px 6px 20px;
    margin-bottom: 10px;
    width: 200px;
}

#login_button {
    background-color: #009578;
    border: 10px black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    padding: 10px;
    width: 100px;
}

#login_button:hover {
    background-color: #00b28f;    
}


.username {
    display: flex;
}

.username p {
    font-size: 20px;
    margin: 20px;
}

.password {
    display: flex;
}

.password p {
    font-size: 20px;
    margin: 21px;
}

.not-user {
    margin: 20px;
}

/* element */

body {
    background-color: #810707;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body p {
    font-size: large;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
.center {
    text-align: center;
    background-color: white;
    text-justify: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
    height: max-content; 
}


/* header and nav bar */
#navbar {
    width: 100%;
}

#logo {
    
    pointer-events: none;
    margin-right: 20px;
}
.img {
    height: 80px;   
    width: 80px;    
}

.header {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    font-size: large;
    top: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;

  }
  
  li {


    display: flex; 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }
  
  li a {

    color: white;
    align-items: center;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #810707;
  }