body {
    background-color: #810707;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body p {
    font-size: large;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
.center {
    text-align: center;
    background-color: white;
    text-justify: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
    height: 100vh; 
}

#grid {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    margin: 40px;
  }
  
  
  #game-over {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    z-index: 1;
  }
  
  
  .cell:hover {
    background: url(/static/tic-tac-toe/x.png) no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 80%;
  }
  
  
  .cell2:hover {
    background: url(/static/tic-tac-toe/O.png) no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 80%;
  }
  
  .outer-cell:hover {
    display: flex;
  }
  

  body {
    background-color: #810707;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body p {
    font-size: large;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.center {
    text-align: center;
    background-color: white;
    text-justify: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 20px;
    height: 100vh; 
}



/* localstorage users */

.error {
    display: none;
    position: absolute;
}




/* header and nav bar */
#navbar {
    width: 97.10%;
}

#logo {
    
    pointer-events: none;
    margin-right: 20px;
}
.img {
    height: 80px;   
    width: 80px;    
}

.header {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    font-size: large;
    top: 0;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;

  }
  
  li {


    display: flex; 
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }
  
  li a {

    color: white;
    align-items: center;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #810707;
  }


