{% extends "layout.htm" %}


{% block content %} 
    {% if session['logged_in'] %}
        <div class="container">
            <div class="center">

                <h1 id = "head">Welcome, {{current_user}}</h1>
                <p>
                    Welcome to Simple Games, here you can play some games for free, and if you want to track your progress,
                    you can sign up and create a profile to save your best scores
                </p>

            </div>
        </div>
    {% else %} 
        <div class="container">
            <div class="center">

                <h1 id = "head">Welcome</h1>
                <p>
                    Welcome to Simple Games, here you can play some games for free, and if you want to track your progress,
                    you can sign up and create a profile to save your best scores
                </p>

            </div>
        </div>
    {% endif %}   

    
{% endblock content %}
